html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color1: #ffb64f;
  --color2: #25083d;
  --color3: #513561;
  --color4: #361e3d;
  --footer-height: 70px;
}

body {
  background-color: var(--color3);
}

#wrapper .box {
  flex: 1;
  min-height: 70vh;
  padding: 10px;
  margin: 30px;
}

#wrapper .box img {
  display: block;
  width: 80%;
  margin: auto;
}

#wrapper #main-content {
  padding-bottom: calc(var(--footer-height));
  display: flex;
}

#wrapper #editor-container {
  border: 5px solid var(--color1);
  border-radius: 10px;
  background-color: var(--color2);
  color: var(--color1);
  box-shadow: -20px 20px 0px var(--color4);
  display: flex;
  flex-direction: column;
}

#wrapper #editor-container textarea {
  flex: 1;
  resize: none;
  border: 5px solid var(--color1);
  border-radius: 10px;
  padding: 15px;
  color: var(--color1);
  background-color: var(--color2);
  font-size: 15px;
}

#wrapper #preview-container {
  border: 5px solid var(--color2);
  border-radius: 10px;
  background-color: var(--color1);
  color: var(--color2);
  box-shadow: -20px 20px 0px var(--color4);
  display: flex;
  flex-direction: column;
}

#wrapper #preview-container #preview {
  flex: 1;
  border: 5px solid var(--color2);
  border-radius: 10px;
  padding: 10px;
}

#wrapper #editor-container h1,
#wrapper #preview-container h1 {
  margin: 10px 20px 20px 20px;
  font-weight: 700;
  text-transform: uppercase;
}

#wrapper #footer {
  position: fixed;
  bottom: 0;
  left: 0;
  max-height: var(--footer-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color4);
  border-top: 5px solid var(--color1);
}

#wrapper #footer button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
}

#wrapper #footer p,
#wrapper #footer a {
  color: var(--color1);
  font-size: 20px;
  font-weight: 600;
}

#wrapper #footer .btn-enabled {
  border: 5px solid var(--color1);
  color: var(--color1);
  background-color: var(--color2);
}

#wrapper #footer .btn-disabled {
  border: 5px solid var(--color2);
  color: var(--color2);
  background-color: var(--color1);
}

#wrapper #footer p, #wrapper #footer #btn-container {
  margin: 5px 20px;
}

@media (max-width: 1000px) {
  #main-content {
    flex-direction: column;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #dbcdcd;
}
